.header {
    background-color: black;
    display: flex;
    height: 60px;
    border-bottom: 1px solid rgb(219, 219, 219);
    width: 100vw;
    margin-left: -8px;
    margin-top: -10px;
}
.header>div {
    padding-left: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.header__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__logo>span {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-left: 16px;
}

.header__subtitle {
    margin-left: 5%;
    padding: 12px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
}

.header__searchContainer {
    margin-left: 20%;
    flex: 1;
    display: flex;
    align-items: center;
    padding: 5px;
}
.header__searchBar {
    width: 40%;
    height: 120%;
    border-radius: 6px;
    background-color: rgb(237, 237, 237);
    display: flex;
    align-items: center;
    padding: 0 8px;
}
.MuiSvgIcon-root {
    color: rgb(82, 82, 82);
}
.header__searchBar>input {
    flex: 1;
    height: 60%;
    font-size: 16px;
    color: lightgray;
    background: none;
    border: none;
    margin-left: 12px;
}
.header__searchBar>input:focus {
    outline: none;
    color: black;
}
.header__icons {
    display: flex;
    align-items: center;
}
.header__iconsAvatar{
    margin-right: 30px;
}

.header__iconsLogout{
    margin-right: 10px;
}